<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>czh://welcome</key>
	<array>
		<string>Main</string>
		<string>ViewController</string>
	</array>
	<key>czh://main</key>
	<array>
		<string>Home</string>
		<string>TabBarViewController</string>
	</array>
	<key>czh://carwash_coupon</key>
	<array>
		<string>CarTicket</string>
		<string>CarTicketViewController</string>
	</array>
	<key>czh://carwash_coupon_details</key>
	<array>
		<string>CarTicket</string>
		<string>CarTicketDetailViewController</string>
	</array>
	<key>czh://driver_evaluate</key>
	<array>
		<string>DriveReview</string>
		<string>DriveReviewViewController</string>
	</array>
	<key>czh://driver_chart</key>
	<array>
		<string>DriveReview</string>
		<string>DriveReviewChartViewController</string>
	</array>
	<key>czh://track_detail</key>
	<array>
		<string>MyRoute</string>
		<string>MyRouteDetailViewController</string>
	</array>
	<key>czh://driver_detail_no_evaluate</key>
	<array>
		<string>MyRoute</string>
		<string>MyRouteDetailViewController</string>
	</array>
	<key>czh://driver_locus</key>
	<string></string>
	<key>czh://driver_medal</key>
	<array>
		<string>Medal</string>
		<string>MyMedalViewController</string>
	</array>
	<key>czh://driver_record</key>
	<array>
		<string>DriveReview</string>
		<string>DisciplineViewController</string>
	</array>
	<key>czh://driver_tips</key>
	<string></string>
	<key>czh://emergency</key>
	<array>
		<string>EmergencyRescue</string>
		<string>EmergencyRescueViewController</string>
	</array>
	<key>czh://add_emergency_contact</key>
	<array>
		<string>CollisionBurglarRemind</string>
		<string>EmergencyContactSettingViewController</string>
	</array>
	<key>czh://emergency_open</key>
	<array>
		<string>EmergencyRescue</string>
		<string>EmergencyRescueViewController</string>
	</array>
	<key>czh://emergency_wait</key>
	<array>
		<string>EmergencyRescue</string>
		<string>OpenSosViewController</string>
	</array>
	<key>czh://emergency_tips</key>
	<array>
		<string>EmergencyRescue</string>
		<string>InputPlatVinViewController</string>
	</array>
	<key>czh://fuel</key>
	<array>
		<string>FuelConsumption</string>
		<string>FuelConsumptionViewController</string>
	</array>
	<key>czh://fuel_consump_reason</key>
	<array>
		<string>FuelConsumption</string>
		<string>FuelChartsViewController</string>
	</array>
	<key>czh://confirm_prompt</key>
	<array/>
	<key>czh://illegal_car_info</key>
	<array>
		<string>Settings</string>
		<string>CarCategoryViewController</string>
	</array>
	<key>czh://illegal_city</key>
	<array>
		<string>IllegalRemind</string>
		<string>IllegalCityInfoListViewController</string>
	</array>
	<key>czh://illegal_remind</key>
	<array>
		<string>IllegalRemind</string>
		<string>IllegalListViewController</string>
	</array>
	<key>czh://activation</key>
	<array>
		<string>IllegalRemind</string>
		<string>IllegalRegisterViewController</string>
	</array>
	<key>czh://forget_password</key>
	<array>
		<string>Login</string>
		<string>RegisterViewController</string>
	</array>
	<key>czh://login_mobile_no</key>
	<array>
		<string>Login</string>
		<string>YMVerificationUserViewController</string>
	</array>
	<key>czh://login_password</key>
	<array>
		<string>Login</string>
		<string>LoginViewController</string>
	</array>
	<key>czh://register</key>
	<array>
		<string>Login</string>
		<string>RegisterViewController</string>
	</array>
	<key>czh://set_vehicle_information</key>
	<array>
		<string>Settings</string>
		<string>CarCategoryViewController</string>
	</array>
	<key>czh://set_interval</key>
	<array>
		<string>MaintenanceConsultant</string>
		<string>MaintenanceConsultantViewController</string>
	</array>
	<key>czh://maintain_my4s</key>
	<array>
		<string>MaintenanceConsultant</string>
		<string>Contact4SViewController</string>
	</array>
	<key>czh://maintain_4s_nearby</key>
	<array>
		<string>MaintenanceConsultant</string>
		<string>ContactOther4SViewController</string>
	</array>
	<key>czh://maintain_expert</key>
	<array>
		<string>MaintenanceConsultant</string>
		<string>MaintainExpertViewController</string>
	</array>
	<key>czh://collision_remind</key>
	<array/>
	<key>czh://collision_theft_remind</key>
	<array>
		<string>CollisionBurglarRemind</string>
		<string>CollisionAlarmTypeViewController</string>
	</array>
	<key>czh://emergency_contact</key>
	<array>
		<string>CollisionBurglarRemind</string>
		<string>EmergencyContactSettingViewController</string>
	</array>
	<key>czh://safe</key>
	<array>
		<string>CollisionBurglarRemind</string>
		<string>BurglarSecurityViewController</string>
	</array>
	<key>czh://shake_sensitivity</key>
	<array>
		<string>CollisionBurglarRemind</string>
		<string>ShockSensitivityViewController</string>
	</array>
	<key>czh://shakesens_warning</key>
	<array>
		<string>CollisionBurglarRemind</string>
		<string>BurglarWarningViewController</string>
	</array>
	<key>czh://about</key>
	<array>
		<string>Settings</string>
		<string>AboutViewController</string>
	</array>
	<key>czh://bind_obd</key>
	<array>
		<string>Login</string>
		<string>BindOBDViewController</string>
	</array>
	<key>czh://carbrand_info</key>
	<array>
		<string>Settings</string>
		<string>BrandsViewController</string>
	</array>
	<key>czh://carbrand_search</key>
	<array>
		<string>Settings</string>
		<string>BrandSearchViewController</string>
	</array>
	<key>czh://buy_insurer_date</key>
	<array/>
	<key>czh://buy_taxfee_date</key>
	<array/>
	<key>czh://buy_year_ticket_date</key>
	<array/>
	<key>czh://car_series_info</key>
	<array>
		<string>Settings</string>
		<string>BrandDetailViewController</string>
	</array>
	<key>czh://carmanager</key>
	<array>
		<string>Settings</string>
		<string>CarCategoryViewController</string>
	</array>
	<key>czh://plate_number_set</key>
	<array>
		<string>Settings</string>
		<string>SetPlateNumberTypeViewController</string>
	</array>
	<key>czh://platevin_set</key>
	<array>
		<string>Settings</string>
		<string>SetPlateVinViewController</string>
	</array>
	<key>czh://enginno_set</key>
	<array>
		<string>Settings</string>
		<string>SetPlateEnginnoViewController</string>
	</array>
	<key>czh://car_sub_brand_info</key>
	<array>
		<string>Settings</string>
		<string>BrandsViewController</string>
	</array>
	<key>czh://car_year_review</key>
	<array>
		<string>Settings</string>
		<string>SettingDateViewController</string>
	</array>
	<key>czh://feedback_models</key>
	<array>
		<string>Settings</string>
		<string>CarTypeFeedbackViewController</string>
	</array>
	<key>czh://hadbind_obd</key>
	<array>
		<string>Settings</string>
		<string>SmartBoxViewController</string>
	</array>
	<key>czh://modify_password</key>
	<array>
		<string>Settings</string>
		<string>ChangePasswordViewController</string>
	</array>
	<key>czh://oil_type_set</key>
	<array>
		<string>Settings</string>
		<string>SettingOilTypeViewController</string>
	</array>
	<key>czh://my_level</key>
	<array>
		<string>Settings</string>
		<string>MyLevelViewController</string>
	</array>
	<key>czh://remind</key>
	<array/>
	<key>czh://set</key>
	<array>
		<string>Settings</string>
		<string>SettingsViewController</string>
	</array>
	<key>czh://set_total_mileage</key>
	<array>
		<string>Settings</string>
		<string>SettingMileageViewController</string>
	</array>
	<key>czh://update_app</key>
	<array/>
	<key>czh://tourist_carwash_coupon</key>
	<array>
		<string>CarTicket</string>
		<string>CarTicketViewController</string>
	</array>
	<key>czh://tourist_carwash_coupon_details</key>
	<array>
		<string>CarTicket</string>
		<string>CarTicketDetailViewController</string>
	</array>
	<key>czh://city_set</key>
	<array>
		<string>CitySelect</string>
		<string>CitySelectViewController</string>
	</array>
	<key>czh://edai_jia</key>
	<array/>
	<key>czh://message_center</key>
	<array>
		<string>MsgCenter</string>
		<string>MsgCenterViewController</string>
	</array>
	<key>czh://message_type_list</key>
	<array>
		<string>MsgCenter</string>
		<string>MsgDetailViewController</string>
	</array>
	<key>czh://obd_extend</key>
	<array/>
	<key>czh://owner_offer</key>
	<array/>
	<key>czh://show_message_center_pic</key>
	<array/>
	<key>czh://invited_driving</key>
	<array>
		<string>DrivingConvention</string>
		<string>DrivingConventionViewController</string>
	</array>
	<key>czh://invited_search_fleet</key>
	<array>
		<string>DrivingConvention</string>
		<string>TeamSearchViewController</string>
	</array>
	<key>czh://invited_create_fleet</key>
	<array>
		<string>DrivingConvention</string>
		<string>FormationTeam</string>
	</array>
	<key>czh://invited_set_nickname</key>
	<array>
		<string>DrivingConvention</string>
		<string>NicknameViewController</string>
	</array>
	<key>czh://invited_set_membername</key>
	<array>
		<string>DrivingConvention</string>
		<string>TeamBusinessCard</string>
	</array>
	<key>czh://invited_destination</key>
	<array>
		<string>DrivingConvention</string>
		<string>Destination</string>
	</array>
	<key>czh://invited_fleet_details</key>
	<array>
		<string>DrivingConvention</string>
		<string>TeamDetail</string>
	</array>
	<key>czh://invited_fleet_member</key>
	<array>
		<string>DrivingConvention</string>
		<string>TeamPlayers</string>
	</array>
	<key>czh://invited_apply_list</key>
	<array>
		<string>DrivingConvention</string>
		<string>IntoTeamApply</string>
	</array>
	<key>czh://improve_info</key>
	<array>
		<string>Login</string>
		<string>ModelsMileageViewController</string>
	</array>
	<key>czh://start_device</key>
	<array>
		<string>Login</string>
		<string>EquipmentStartViewController</string>
	</array>
	<key>czh://login_lock</key>
	<array>
		<string>Gesture</string>
		<string>GestureViewController</string>
	</array>
	<key>czh://verify_password</key>
	<array>
		<string>Gesture</string>
		<string>GestureValicateViewController</string>
	</array>
	<key>czh://set_lock</key>
	<array>
		<string>Gesture</string>
		<string>GestureGenViewController</string>
	</array>
	<key>czh://collision_warning</key>
	<array>
		<string>CollisionBurglarRemind</string>
		<string>CollisionAlarmTypeViewController</string>
	</array>
	<key>czh://collision_detection_type</key>
	<array/>
	<key>czh://drive_pk_nickname_set</key>
	<array/>
	<key>czh://delete_emergency_contact</key>
	<array>
		<string>CollisionBurglarRemind</string>
		<string>EmergencyContactSettingViewController</string>
	</array>
	<key>czh://mytrack</key>
	<array>
		<string>MyRoute</string>
		<string>MyRouteViewController</string>
	</array>
	<key>czh://change_bind_obd</key>
	<array>
		<string>Settings</string>
		<string>SmartBoxViewController</string>
	</array>
	<key>czh://confirm_logout</key>
	<array/>
	<key>czh://oil_logs</key>
	<array>
		<string>OilPoint</string>
		<string>OilPointViewController</string>
	</array>
	<key>czh://self_info</key>
	<array>
		<string>Settings</string>
		<string>MyAccountViewController</string>
	</array>
	<key>czh://check_car</key>
	<array>
		<string>SecurityDetection</string>
		<string>DetectViewController</string>
	</array>
	<key>czh://history_code_detail</key>
	<array>
		<string>SecurityDetection</string>
		<string>FaultViewController</string>
	</array>
	<key>czh://mymedal_list</key>
	<array>
		<string>Medal</string>
		<string>MyMedalViewController</string>
	</array>
	<key>czh://pk_autojoin_set</key>
	<array>
		<string>DrivingPK</string>
		<string>PKAutoJoinSettingViewController</string>
	</array>
	<key>czh://my_bind</key>
	<array>
		<string>Settings</string>
		<string>MyBindViewController</string>
	</array>
	<key>czh://security</key>
	<array>
		<string>Settings</string>
		<string>SafeSettingViewController</string>
	</array>
	<key>czh://sex</key>
	<array>
		<string>Settings</string>
		<string>SexSettingViewController</string>
	</array>
	<key>czh://user_info_nickname</key>
	<array>
		<string>Settings</string>
		<string>NickNameSettingViewController</string>
	</array>
	<key>czh://show_image</key>
	<array/>
	<key>czh://historical_events</key>
	<array>
		<string>Activity</string>
		<string>ActivityHistoryViewController</string>
	</array>
	<key>czh://event_hall</key>
	<array>
		<string>Activity</string>
		<string>ActivityHallViewController</string>
	</array>
	<key>czh://event_detail</key>
	<array>
		<string>Activity</string>
		<string>ActivityDetailViewController</string>
	</array>
	<key>czh://event_ranking</key>
	<array>
		<string>Activity</string>
		<string>ActivityDetailRankingListViewController</string>
	</array>
	<key>czh://event_ranking_detail</key>
	<array>
		<string>Activity</string>
		<string>UserActivityDetailViewController</string>
	</array>
	<key>czh://find_auto</key>
	<array>
		<string>LookingCar</string>
		<string>LookingCarViewController</string>
	</array>
	<key>czh://car_info_feedback</key>
	<array>
		<string>Settings</string>
		<string>CarTypeFeedbackViewController</string>
	</array>
	<key>czh://system_code_list</key>
	<array>
		<string>SecurityDetection</string>
		<string>FaultViewController</string>
	</array>
</dict>
</plist>
